<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Travel App Project</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <header class="text-white text-center py-3">
    <h1>Travel App</h1>
  </header>
  <main class="container mt-5">
    <form id="form" class="mb-4">
      <div class="form-group">
        <label for="city">Enter the city</label>
        <input type="text" id="city" name="city" class="form-control" placeholder="City name" required>
      </div>
      <button type="submit" class="btn btn-warning btn-block">Submit</button>
    </form>
    <div id="results" class="card">
      <button id="removeTrip">Remove Trip</button>

    </div>
  </main>
  <footer class="text-white text-center py-3 mt-auto">
    <p>© 2024 Malak Battatt</p>
  </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>